# Monnify Payment Gateway Configuration (app.monnify.com)
NEXT_PUBLIC_MONNIFY_API_KEY=MK_TEST_KTQ43VJUDH
NEXT_PUBLIC_MONNIFY_CONTRACT_CODE=4045859529
MONNIFY_SECRET_KEY=27M4Y6KCHH5EAEQLFCNK9QMS4QJ30F7Q
NEXT_PUBLIC_MONNIFY_ENV=sandbox

# Paystack Configuration (Optional fallback)
NEXT_PUBLIC_PAYSTACK_KEY=
PAYSTACK_SECRET_KEY=

# JWT Secret
JWT_SECRET=yabaright_super_secret_jwt_key_2026



# NEXT_PUBLIC_MONNIFY_API_KEY=YOUR_API_KEY
# NEXT_PUBLIC_MONNIFY_CONTRACT_CODE=YOUR_CONTRACT_CODE
# MONNIFY_SECRET_KEY=YOUR_SECRET_KEY
# NEXT_PUBLIC_MONNIFY_ENV=production